
@font-face {
    font-family: 'Poppins';
    src: url('../assets//fonts//poppins/Poppins-Regular.ttf');
    font-weight: normal;
}

.contact {
    font-family: 'Poppins';
    padding: 30% 10%;
}

.contact .contact-container {
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.contact .contact-container p {
    text-align: center;
    width: 45%;
    font-size: 18px;
}

.contact .contact-container .form-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.contact .contact-container .form-container .contact-form-field {
    display: flex; 
    justify-content: center;
    gap: 3rem;
   
}

.contact .contact-container .form-container .contact-form-field textarea {
    width: 100%;
}

.contact .contact-container .form-container .input-fields {
    display: flex;
    flex-direction: column;
}

.contact .contact-container .form-container .input-fields input {
    margin: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid black;
        padding: 8px 8px 6px 0;
        width: 450px;
        height: 100%;
}


/* .main .contact-container .form-container .contact-form-field .input-fields input {
    background: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px 8px 6px 0;
    width: 450px;
}

.main .contact-container .form-container .contact-form-field textarea {
    width: 500px;
    height: 100%;
} */

/******************* Breakpoint ****************/
@media (max-width: 1320px) {
    .contact {
        padding-top: 45rem;
        padding-bottom: 45rem;
    }

    .contact .contact-container h1 {
      font-size: 1.5rem;
    }

        .contact .contact-container p {
            font-size: 0.9rem;
        }

                .contact .contact-container .form-container .contact-form-field{
                    flex-wrap: wrap;
                    flex-direction: column;
                }

                .contact .contact-container .form-container .input-fields input {
                                    width: 100%;
                                }

}
