
/************ Custom Font ************/
@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Orbitron;
    src: url('../assets/fonts/orbitron/Orbitron-Medium.ttf');
    font-weight: 500;
}

header {
    padding: 20px 10px 10px 20px;
    position: absolute;
    top: 0; 
    right: 0; 
    left: 0;
    z-index: 10000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/********************* Logo/Title Text Style *****************/
.navbar-container .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-container .logo-container h1 {
    margin: 0;
    color: white;
    font-family: "Poppins";
    transition: 0.5s;
}

.navbar-container .logo-container h1:hover {
    color: #d6d6d6;
}


/********************* Navigation Links Style *****************/
.navbar-container .link-container {
    display: flex;
    margin: 0;
}

.navbar-container .link-container li {
    list-style: none;
    margin-right: 2rem;
}

.navbar-container .link-container li a {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
    transition: 0.5s;
}

.navbar-container .link-container li a:hover {
    color: #d6d6d6;
}

/********************** Menu Icon *****************/
header .navbar-container .menu-icon {
 display: none;
 cursor: pointer;
 flex-direction: column;
 gap: 5px;
}

header .navbar-container .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

/********************* Media query for menu icon and responsive design *********************/
@media (max-width: 1258px) {


    header .navbar-container {
        justify-content: space-between;
    }

header .navbar-container .menu-icon {
    display: flex;
    padding: 5px;
    
}

header .navbar-container .link-container {
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    padding: 0;
}

header .navbar-container .link-container li {
    width: 100%;
    margin: 5px 0;
}

/************ During Menu Icon Clicked **************/

header .active:before {
content: '';
    position: absolute;
    background-color: #121212;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

header .navbar-container .active {
    display: block !important;
}

} 

/************ During Link Clicked **************/
header .navbar-container .link-container li .active {
    color: #d6d6d6;
}